<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>helloJSP</servlet-name>
		<jsp-file>/HelloAce.jsp</jsp-file>
		<init-param>
			<param-name>appName</param-name>
			<param-value>ace.demo</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>HelloAce</servlet-name>
		<servlet-class>ace.demo.HelloAce</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CacheServiceDemo</servlet-name>
		<servlet-class>ace.demo.service.CacheServiceDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StoreServiceDemo</servlet-name>
		<servlet-class>ace.demo.service.StoreServiceDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchUrlServiceDemo</servlet-name>
		<servlet-class>ace.demo.service.FetchUrlServiceDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailServiceDemo</servlet-name>
		<servlet-class>ace.demo.service.MailServiceDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogServiceDemo</servlet-name>
		<servlet-class>ace.demo.service.LogServiceDemo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloJSP</servlet-name>
		<url-pattern>/HelloAce.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloAce</servlet-name>
		<url-pattern>/HelloAce.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheServiceDemo</servlet-name>
		<url-pattern>/CacheServiceDemo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoreServiceDemo</servlet-name>
		<url-pattern>/StoreServiceDemo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchUrlServiceDemo</servlet-name>
		<url-pattern>/FetchUrlServiceDemo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailServiceDemo</servlet-name>
		<url-pattern>/MailServiceDemo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogServiceDemo</servlet-name>
		<url-pattern>/LogServiceDemo.do</url-pattern>
	</servlet-mapping>
</web-app>
